body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    flex-direction: column;
  }
  
  header {
    background-color: #91b51cc8;
    color: #000000;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
  
  main {
    width: 50%;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    place-items: right; 
    width: fit-content;
  }
  
  input[type="number"] {
    padding: 8px;
    border: 2px solid;
    border-color: #e9770d;
    border-radius: 5px;
    width: 50%;
    outline-style: none;
  }
  input[type="number"]:focus{
    border: 2px solid;
    border-color: #afdc1a;
  }
  
  button {
    /*background-color: #91b51c;*/
    background-image: linear-gradient(to right, #758d26, #f2fd9e);
    border: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-image: linear-gradient(to right, #f2fd9e, #758d26 );
  }
  
  #resultContainer {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
  }
  
  footer {
    background-color: #6b7f27;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }